<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="API Tests" preserve-order="true" verbose="2">
        <classes>

            <class name="Day3.CoociesDemo">
                <methods>
                    <include name="coocieDemo"/>
                    <include name="GetCoocieInfo"/>
                </methods>
            </class>

            <class name="Day3.HeadersDemo">
            <methods>
                <include name="testHeaders"/>
                <include name="getHeaders"/>
            </methods>
            </class>

            <class name="Day3.TestQueryAndPathParameters">
                <methods>
                    <include name="testQueryAndPathParameters"/>
                </methods>
            </class>

            <class name="Day5_Parsing_XML_Respons.FileUploadAndDownload">
                <methods>
                    <include name="singleFileUpload"/>
                    <include name="multiFileUpload"/>
                    <include name="downloadFile"/>
                </methods>
            </class>

            <class name="Day5_Parsing_XML_Respons.ParsingXMLResponse">
                <methods>
                    <include name="testXMLResponse"/>
                    <include name="multiFileUpload"/>
                    <include name="downloadFile"/>
                </methods>
            </class>




        </classes>

    </test>

</suite>
