<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Framework" parallel="methods" thread-count="4" verbose="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="User API Tests" preserve-order="true">
        <classes>
            <class name="com.apitests.tests.UserApiTest"/>
        </classes>
    </test>

    <test name="Booking API Tests" preserve-order="true">
        <classes>
            <class name="com.apitests.tests.BookingApiTest"/>
        </classes>
    </test>

</suite>